<ng-template #content>
	<ng-content select=".expandable-content"></ng-content>
</ng-template>
<mat-form-field>
	<input #filterInput
			 matInput
			 placeholder="Filter">
</mat-form-field>
<div class="table-container">
	<div class="example-loading-shade"
		  *ngIf="(isLoadingResults$ | async) as loading">
		<mat-spinner *ngIf="loading"></mat-spinner>
	</div>
	<ng-container *ngIf="(dataSource$ | async) as dataRes">
		<mat-table *ngIf="(columns$ | async) as colRes"
					  [dataSource]="dataRes.records"
					  class="custom-table"
					  matSort
					  multiTemplateDataRows
					  (matSortChange)="sortColumn($event)">

			<ng-container *ngFor="let column of colRes.columns"
							  [matColumnDef]="column.id">
				<mat-header-cell *matHeaderCellDef
									  mat-sort-header
									  disableClear
									  sticky
									  class="custom-table-header"
									  (click)="sendAction('table-header', column.id)">{{column.name}}</mat-header-cell>
				<mat-cell *matCellDef="let col"
							 class="custom-table-cell"
							 (click)="sendAction('table-col', column.id)">
					<span class="custom-table-cell-span">{{col[column.id]}}</span>
				</mat-cell>
			</ng-container>

			<!-- Star Column -->
			<ng-container matColumnDef="star"
							  stickyEnd>
				<mat-header-cell *matHeaderCellDef></mat-header-cell>
				<mat-cell *matCellDef="let row"
							 [style.position]="child ? 'absolute' : 'sticky'">
					<button mat-icon-button
							  [matMenuTriggerFor]="menu">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item
								  *ngFor="let actionItem of actionItems"
								  (click)="sendAction(actionItem.type, row)">
							<mat-icon [color]="actionItem.color">{{actionItem.icon}}</mat-icon>
							<span>{{actionItem.label}}</span>
						</button>
					</mat-menu>

				</mat-cell>
			</ng-container>

			<!-- Expanded Content Column - The detail row is made up of this one column that spans across all colRes.columns -->
			<ng-container *ngIf="shouldExpand"
							  matColumnDef="expandedDetail">
				<mat-cell *matCellDef="let row"
							 [attr.colspan]="colRes.columnIDs.length"
							 class="expandable-cell">
					<div [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
						<ng-container *ngTemplateOutlet="expandableContentTmpl, 
											context: {$implicit: row, isExpanded: expandedElement === row}"></ng-container>
					</div>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="colRes.columnIDs; sticky: true"></mat-header-row>
			<mat-row *matRowDef="let row; columns: colRes.columnIDs;"
						(click)="sendAction('table-row', row)"></mat-row>
			<ng-container *ngIf="shouldExpand">
				<mat-row *matRowDef="let row; columns: ['expandedDetail']"
							[style.display]="expandedElement === row ? 'inline-flex' : 'none'"></mat-row>
			</ng-container>
		</mat-table>
		<span *ngIf="child"
				[style.height]="'56px'"
				[style.display]="'block'"></span>
		<mat-paginator [length]="dataRes.count"
							[pageSize]="page.pageSize"
							[pageIndex]="page.pageIndex"
							[pageSizeOptions]="[10, 25, 50]"
							(page)="paginate($event)"
							showFirstLastButtons
							[style.transform]="child ? 'translateY(-56px)' : 'unset'"
							[style.position]="child ? 'absolute' : 'relative'"
							[style.right]="child ? '0' : '0'"></mat-paginator>

	</ng-container>

</div>