:host {
  overflow: auto;
}

.custom-table {
  height: calc(100% - 56px);
  width: 100%;
  overflow: auto;
}

.custom-table-header,
.custom-table-cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 150px;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
