<ng-container *ngIf="dataSource">
	<mat-table [dataSource]="dataSRC"
				  class="custom-table"
				  matSort>

		<ng-container *ngFor="let column of columns"
						  [matColumnDef]="column.id">
			<mat-header-cell *matHeaderCellDef
								  mat-sort-header
								  sticky
								  class="custom-table-header"
								  (click)="sendAction('table-header', column.id)">{{column.name}}</mat-header-cell>
			<mat-cell *matCellDef="let col"
						 class="custom-table-cell"
						 (click)="sendAction('table-col', column.id)">{{col[column.id]}}</mat-cell>
		</ng-container>
		<!-- Star Column -->
		<ng-container matColumnDef="star"
						  stickyEnd>
			<mat-header-cell *matHeaderCellDef
								  mat-sort-header></mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-icon>more_vert</mat-icon>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="columnIDs; sticky: true"></mat-header-row>
		<mat-row *matRowDef="let row; columns: columnIDs;"
					(click)="sendAction('table-row', row)"></mat-row>

	</mat-table>

	<mat-paginator [pageSizeOptions]="[5, 10, 20]"
						showFirstLastButtons></mat-paginator>
</ng-container>