<mat-form-field>
	<input #filterInput
			 matInput
			 placeholder="Filter">
</mat-form-field>
<ng-container *ngIf="(columns$ | async) as colRes">
	<div #tableContainer
		  class="table-container">
		<div *ngIf="(isLoadingResults$ | async) as loading"
			  class="loader-container">
			<div class="example-loading-shade"
				  [style.height]="tableContainer.clientHeight - 56 + 'px'">
				<mat-spinner *ngIf="loading"></mat-spinner>
			</div>
		</div>
		<ng-container *ngIf="(dataSource$ | async) as dataRes">
			<mat-table [dataSource]="dataRes.records"
						  class="custom-table"
						  matSort
						  multiTemplateDataRows
						  (matSortChange)="sortColumn($event)"
 						  cdkDropList
 						  cdkDropListOrientation="horizontal"
						  (cdkDropListDropped)="drop($event, colRes.columnIDs)"
						  [style.width]="colRes.columnIDs.length * 150 + 'px'">

				<ng-container *ngFor="let column of colRes.columns"
								  [matColumnDef]="column.id">
					<mat-header-cell *matHeaderCellDef
										  mat-sort-header
										  cdkDrag
										  disableClear
										  sticky
										  class="custom-table-header"
										  (click)="sendAction('table-header', column.id)">{{column.name}}</mat-header-cell>
					<mat-cell *matCellDef="let col"
								 class="custom-table-cell"
								 (click)="sendAction('table-col', column.id)">
						<span class="custom-table-cell-span">{{col[column.id]}}</span>
					</mat-cell>
				</ng-container>

				<!-- Actions Column -->
				<ng-container matColumnDef="actions"
								  stickyEnd>
					<mat-header-cell *matHeaderCellDef></mat-header-cell>
					<mat-cell *matCellDef="let row">
						<button mat-icon-button
								  [matMenuTriggerFor]="menu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item
									  *ngFor="let actionItem of actionItems"
									  (click)="sendAction(actionItem.type, row)">
								<mat-icon [color]="actionItem.color">{{actionItem.icon}}</mat-icon>
								<span>{{actionItem.label}}</span>
							</button>
						</mat-menu>

					</mat-cell>
				</ng-container>

				<!-- Expanded Content Column - The detail row is made up of this one column that spans across all colRes.columns -->
				<ng-container *ngIf="shouldExpand"
								  matColumnDef="expandedDetail"
								  sticky>
					<mat-cell *matCellDef="let row"
								 class="expandable-cell">
						<div class="child-expand"
							  [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
							<div class="child-container"
								  [style.height]="tableContainer.clientHeight - 175 + 'px'">
								<ng-container
												  *ngTemplateOutlet="expandableContentTmpl, 
											context: {$implicit: row, isExpanded: expandedElement === row, containerHeight: tableContainer.clientHeight}">
								</ng-container>
							</div>
						</div>
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="colRes.columnIDs; sticky: true"></mat-header-row>
				<mat-row *matRowDef="let row; columns: colRes.columnIDs;"
							[class.expanded-row]="expandedElement === row"
							(click)="sendAction('table-row', row)"></mat-row>
				<ng-container *ngIf="shouldExpand">
					<mat-row *matRowDef="let row; columns: ['expandedDetail']"
								class="expandable-row"></mat-row>
				</ng-container>
			</mat-table>
		</ng-container>
	</div>
	<mat-paginator *ngIf="(dataSource$ | async) as dS"
						[length]="dS.count"
						[pageSize]="page.pageSize"
						[pageIndex]="page.pageIndex"
						[pageSizeOptions]="[10, 25, 50]"
						(page)="paginate($event)"
						showFirstLastButtons></mat-paginator>

</ng-container>