:host {
  overflow: hidden;
}

.table-container {
  height: calc(100% - 65px);
}
mat-footer-row,
mat-header-row,
mat-row {
  display: inline-flex;
}

mat-cell {
  width: 0;
}

.custom-table {
  height: calc(100% - 56px);
  width: 100%;
  overflow: auto;
}

.custom-table-header,
.custom-table-cell {
  min-width: 150px;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

.custom-table-cell-span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}