<!-- TYPE SWITCH-CASES -->
<ng-container [ngSwitch]="type">
	<mat-form-field *ngIf="isMatFormField"
						 [hintLabel]="hintLabel">
		<!-- NUMBER -->
		<ng-container *ngSwitchCase="fieldType.NUMBER">
			<input matInput
					 #number
					 type="number"
					 [min]="min"
					 [max]="max"
					 [step]="step"
					 [formControlName]="controlName"
					 [placeholder]="placeholder"
					 [required]="required">
		</ng-container>
		<!-- TEXT -->
		<ng-container *ngSwitchCase="fieldType.TEXT">
			<input matInput
					 #text
					 [type]="type"
					 [minlength]="min"
					 [maxlength]="max"
					 [formControlName]="controlName"
					 [placeholder]="placeholder"
					 [required]="required">
		</ng-container>
		<!-- EMAIL -->
		<ng-container *ngSwitchCase="fieldType.EMAIL">
			<input matInput
					 #email
					 [type]="type"
					 [minlength]="min"
					 [maxlength]="max"
					 [formControlName]="controlName"
					 [placeholder]="placeholder"
					 [required]="required">
		</ng-container>
		<!-- DROPDOWN -->
		<ng-container *ngSwitchCase="fieldType.DROPDOWN">
			<mat-select #dropdown
							[placeholder]="placeholder"
							[formControlName]="controlName"
							[required]="required">
				<mat-option *ngFor="let option of options"
								[value]="option.value">{{option.label}}</mat-option>
			</mat-select>
		</ng-container>
		<mat-hint *ngIf="getHint() as hint"
					 align="end">{{hint}}</mat-hint>
		<mat-error *ngIf="control?.invalid">{{getErrorMessage()}}</mat-error>
		<mat-icon *ngIf="iconPrefix"
					 matPrefix>{{iconPrefix}}</mat-icon>
		<mat-icon *ngIf="iconSuffix"
					 matSuffix>{{iconSuffix}}</mat-icon>
	</mat-form-field>
	<!-- CHECKBOX -->
	<ng-container *ngSwitchCase="fieldType.CHECKBOX">
		<mat-checkbox #checkbox
						  [formControlName]="controlName"
						  [required]="required">{{placeholder}}</mat-checkbox>
		<mat-hint *ngIf="getHint() as hint"
					 align="end">{{hint}}</mat-hint>
		<mat-error *ngIf="control?.invalid">{{getErrorMessage()}}</mat-error>
		<mat-icon *ngIf="iconPrefix"
					 matPrefix>{{iconPrefix}}</mat-icon>
		<mat-icon *ngIf="iconSuffix"
					 matSuffix>{{iconSuffix}}</mat-icon>
	</ng-container>
</ng-container>
<ng-container *ngIf="request">
	<magic-bean-request [request]="request"
							  (response)="response($event)"></magic-bean-request>
</ng-container>