<ng-container *ngIf="fieldForm.editing">
	<!-- FORM SELECTION -->
	<magic-bean-form-editor [form]="formSelection"
									(createdFormGroup)="initFormSelection($event.payload)"
									(fieldValue)="onFormSelectionChanges($event)"></magic-bean-form-editor>
	<!-- FORM EDITOR -->
	<magic-bean-form-editor [form]="fieldForm"
									(createdFormGroup)="getFieldFormGroup($event.payload)"></magic-bean-form-editor>
	<mat-divider></mat-divider>
</ng-container>
<!-- FORM CREATED -->
<magic-bean-form-editor *ngIf="form"
								[form]="form"
								(createdFormGroup)="getCreatedFormGroup($event)"
								(fieldProperties)="fieldForm.editing && editField($event)"></magic-bean-form-editor>
