<div class="test-header">
	<magic-bean-button class="form-dialog"
							 (btnClick)="actions($event)"
							 label="Form Dialog"></magic-bean-button>
	<input type="file"
			 #fileInput
			 hidden
			 (change)="actions({type: 'import', payload: $event})"
			 multiple="false">
	<magic-bean-button class="form-dialog"
							 (btnClick)="fileInput.click()"
							 label="Import"></magic-bean-button>
	<magic-bean-button class="form-dialog"
							 (btnClick)="actions($event)"
							 label="Export"></magic-bean-button>
</div>
<magic-bean-table class="test-table"
						tableName="parentTable"
						[colRequest]="colRequest"
						[dataRequest]="dataRequest"
						[actionItems]="actionItems"
						(action)="actions($event, 'parentTable')">
	<ng-template #expandableContent
					 let-row
					 let-isExpanded="isExpanded"
					 let-containerHeight="containerHeight">
		<div *ngIf="isExpanded"
			  class="child-table"
			  [style.height]="containerHeight - 175 + 'px'">
			<magic-bean-table class="test-table"
									tableName="childTable"
									[colRequest]="colRequest"
									[dataRequest]="childrenDataRequest"
									[actionItems]="childActionItems"
									(action)="actions($event, 'childTable')"
									child="true"></magic-bean-table>
		</div>
	</ng-template>

</magic-bean-table>