<ng-container *ngIf="form.editing">
	<h2 class="form-editor-title">{{ form?.name }}</h2>
	<h4 class="form-editor-subtitle">{{ form?.subtitle }}</h4>
</ng-container>
<form class="form-grid"
		[formGroup]="_createdFormGroup">

	<ng-container *ngFor="let field of form.fields; index as fieldIndex">
		<div class="created-field-grid">
			<magic-bean-form-field class="created-field"
										  [class.highlight-created-field]="form.highlightField && _selectedFieldIndex === fieldIndex"
										  [matTooltip]="form.highlightField ? 'Click to Edit' : ''"
										  [form]="_createdFormGroup"
										  [type]="field.type"
										  [controlName]="field.controlName"
										  [placeholder]="field.placeholder"
										  [required]="field.required"
										  [min]="field.min"
										  [max]="field.max"
										  [step]="field.step"
										  [hintLabel]="field.hintLabel"
										  [hintMessage]="field.hintMessage"
										  [value]="field.value"
										  [disabled]="field.disabled"
										  [options]="field.options"
										  [iconPrefix]="field.iconPrefix"
										  [iconSuffix]="field.iconSuffix"
										  (click)="onFieldClick(fieldIndex)"
										  (valueChanges)="fieldValueChange(field.controlName, $event)"></magic-bean-form-field>
			<magic-bean-button *ngIf="field.removable || form.removableFields"
									 class="created-field-delete-btn"
									 styleType="icon"
									 color="warn"
									 label="delete"
									 matTooltip="delete"
									 (btnClick)="onDeleteField(fieldIndex)"></magic-bean-button>
		</div>
	</ng-container>
	<magic-bean-button *ngIf="form.editing"
							 type="submit"
							 [label]="form?.buttonLabel"
							 color="primary"
							 styleType="raised"
							 [disabled]="isButtonDisabled()"
							 (btnClick)="onSave()"></magic-bean-button>
</form>