<form [formGroup]="formGroup">
	<mat-card>
		<mat-card-header>
			<div mat-card-avatar
				  class="custom-avatar">A</div>
			<mat-card-title>{{formGroup?.controls?.Title?.value}}</mat-card-title>
			<mat-card-subtitle>{{formGroup?.controls?.Price?.value}}</mat-card-subtitle>
		</mat-card-header>
		<magic-bean-rotating-cube>
			<ng-template #front
							 let-front>
				<img class="product-image"
					  draggable="false"
					  *ngIf="formGroup?.controls?.Main_Image?.value as mainImage"
					  [src]="mainImage"
					  alt="Main Image">
				<span class="image-label">Main Image</span>
			</ng-template>
			<ng-template #right
							 let-right>
				<img class="product-image"
					  draggable="false"
					  *ngIf="formGroup?.controls?.Image2?.value as image2"
					  [src]="image2"
					  alt="Image 2">
				<span class="image-label">Image 2</span>
			</ng-template>
			<ng-template #back
							 let-back>
				<img class="product-image"
					  draggable="false"
					  *ngIf="formGroup?.controls?.Image3?.value as image3"
					  [src]="image3"
					  alt="Image 3">
				<span class="image-label">Image 3</span>
			</ng-template>
			<ng-template #left
							 let-left>
				<img class="product-image"
					  draggable="false"
					  *ngIf="formGroup?.controls?.Image4?.value as image4"
					  [src]="image4"
					  alt="Image 4">
				<span class="image-label">Image 4</span>
			</ng-template>
		</magic-bean-rotating-cube>
		<div class="product-details">
			<p *ngIf="formGroup?.controls?.Description?.value as desc">{{desc}}</p>
			<ul>
				<li *ngIf="formGroup?.controls?.Bullet_Point_1?.value as bullet1">{{bullet1}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_2?.value as bullet2">{{bullet2}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_3?.value as bullet3">{{bullet3}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_4?.value as bullet4">{{bullet4}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_5?.value as bullet5">{{bullet5}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_6?.value as bullet6">{{bullet6}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_7?.value as bullet7">{{bullet7}}</li>
			</ul>
		</div>
		<mat-card-content>
			<magic-bean-form-management [formFields]="fields"
												 [fieldsData]="data"
												 [editorMode]="false"
												 (formGroup)="setFormGroup($event)"></magic-bean-form-management>
		</mat-card-content>
		<mat-card-actions>
			<magic-bean-button type="submit"
									 styleType="flat"
									 color="primary"
									 [disabled]="formGroup.invalid || formGroup.untouched || formGroup.pristine"
									 (btnClick)="onSave()"
									 label="Save"></magic-bean-button>
			<magic-bean-button styleType="flat"
									 (btnClick)="onClose()"
									 label="Close"></magic-bean-button>
		</mat-card-actions>
	</mat-card>
</form>