<form [formGroup]="formGroup">
	<mat-card>
		<mat-card-header>
			<div mat-card-avatar
				  class="custom-avatar">A</div>
			<mat-card-title>{{formGroup?.controls?.Title?.value}}</mat-card-title>
			<mat-card-subtitle>{{formGroup?.controls?.Price?.value}}</mat-card-subtitle>
		</mat-card-header>
		<div class="scene">
			<div class="cube">
				<div class="side front"
					  [style.transform]="transform3DImage">
					<div class="guides"></div>
					<img class="product-image"
						  draggable="false"
						  *ngIf="formGroup?.controls?.Main_Image?.value as mainImage"
						  [src]="mainImage"
						  alt="Main Image">
					<span>Main Image</span>
				</div>
				<div class="side right"
					  [style.transform]="getImage2Transform()">
					<div class="guides"></div>
					<img class="product-image"
						  draggable="false"
						  *ngIf="formGroup?.controls?.Image2?.value as image2"
						  [src]="image2"
						  alt="Image 2">
					<span>Image 2</span>
				</div>
				<div class="side back"
					  [style.transform]="getImage3Transform()">
					<div class="guides"></div>
					<img class="product-image"
						  draggable="false"
						  *ngIf="formGroup?.controls?.Image3?.value as image3"
						  [src]="image3"
						  alt="Image 3">
					<span>Image 3</span>
				</div>
				<div class="side left"
					  [style.transform]="getImage4Transform()">
					<div class="guides"></div>
					<img class="product-image"
						  draggable="false"
						  *ngIf="formGroup?.controls?.Image4?.value as image4"
						  [src]="image4"
						  alt="Image 4">
					<span>Image 3</span>
				</div>
			</div>
		</div>
		<div *ngIf="false"
			  draggable="false"
			  class="product-images">
			<img class="product-image back"
				  draggable="false"
				  mat-card-image
				  *ngIf="formGroup?.controls?.Image3?.value as image3"
				  [src]="image3"
				  alt="Image 3"
				  [style.transform]="transform3DImage">
			<img class="product-image left"
				  draggable="false"
				  mat-card-image
				  *ngIf="formGroup?.controls?.Image4?.value as image4"
				  [src]="image4"
				  alt="Image 4"
				  [style.transform]="transform3DImage">
		</div>
		<div class="product-details">
			<p *ngIf="formGroup?.controls?.Description?.value as desc">{{desc}}</p>
			<ul>
				<li *ngIf="formGroup?.controls?.Bullet_Point_1?.value as bullet1">{{bullet1}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_2?.value as bullet2">{{bullet2}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_3?.value as bullet3">{{bullet3}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_4?.value as bullet4">{{bullet4}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_5?.value as bullet5">{{bullet5}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_6?.value as bullet6">{{bullet6}}</li>
				<li *ngIf="formGroup?.controls?.Bullet_Point_7?.value as bullet7">{{bullet7}}</li>
			</ul>
		</div>
		<mat-card-content>
			<section class="form-grid">
				<magic-bean-form-field *ngFor="let field of fields"
											  class="field-grid"
											  [form]="formGroup"
											  [type]="field.type"
											  [controlName]="field.controlName"
											  [placeholder]="field.placeholder"
											  [required]="field.required"
											  [min]="field.min"
											  [max]="field.max"
											  [step]="field.step"
											  [hintLabel]="field.hintLabel"
											  [hintMessage]="field.hintMessage"
											  [value]="data[field.controlName]"
											  [disabled]="field.disabled"
											  [options]="field.options"></magic-bean-form-field>
			</section>
		</mat-card-content>
		<mat-card-actions>
			<button mat-flat-button
					  type="submit"
					  color="primary"
					  [disabled]="formGroup.invalid || formGroup.untouched || formGroup.pristine"
					  (click)="onSave()">Save</button>
			<button mat-flat-button
					  (click)="onClose()">Close</button>
		</mat-card-actions>
	</mat-card>
</form>